@model IEnumerable<LeaveManagement.Models.LeaveTypeVM>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    Leave Types
                </h3>               
            </div>
            <form asp-action="Create">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-md-12 mb-3">
                            <a asp-action="Create" class="btn bg-gradient-success float-right">
                                <i class="fa fa-plus" aria-hidden="true"></i> Create New
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="tblData" class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DefaultDays)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DateCreated)
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DefaultDays)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateCreated)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">
                                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                                </a>
                                                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">
                                                    <i class="fas fa-info-circle" aria-hidden="true"></i>
                                                </a>
                                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this record?');">
                                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


